@font-face {
	font-family: GlacialIndifference;
	src: url("GlacialIndifference-Regular.otf");
  } 

@font-face {
	font-family: LeagueGothic;
	src: url(LeagueGothic-Regular.otf) ;
  } 


  /* body {
	  background-color: #ff2!important;
	  font-family: GlacialIndifference, serif
	
  } */
  /* src/fonts/glacial-indifference/GlacialIndifference-Regular.otf */

  /* src/fonts/glacial-indifference/GlacialIndifference-Regular.otf */

  /* src/fonts/League-Gothic/LeagueGothic-Regular.otf */