/* ------------------------- portfolio page css --------------------- */

.portfolio-container, .dev-container, .writing-container {
	margin-top: 10vh;
	text-align: center;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
}


.teaser {
	margin-top: 35vh;
	margin-bottom: 45vh;
}

.filler {
	height: 10vh;
}

.button-holder {
	display: flex;
	justify-content: space-around;
}

.button-holder > div, .card-body > div {
	background-color: black;
	color: white;
	width: 40%;
	height: 10vh;
	padding-top: 3vh;
	font-family: 'Martel', serif;
	font-size: 1.5em;
	border-radius: 10px;
}

.button {
	color: white;
}

.featured, .project {
	display: flex;
}

.image-holder > img {
	max-width: 20vw;
	width: 19vw;
	height: auto;
	margin-top: 1vh;
	/* margin-left: 0; */
}

.image-holder {
	margin-left: 0;
	float: left;
	margin-right: 3vw;
	display: flex;
	flex-direction: column;
}

#myCanvas {
	margin-bottom: 24vh;
}

.project {
	margin-top: 5vh;
}

.info {
	margin-top: auto;
	margin-bottom: auto;
	text-align: left;
	/* width: 80%; */
	/* float: left; */
}

.mobile-hidden {
	display: none;
}
h4 {
	color: gray;
	font-size: 18px;
	font-style: oblique;
}
@media screen and (max-width: 415px) {
	.mobile-hidden {
		display: unset;
	}
}

@media (max-width: 800px) {
	.featured, .project {
		flex-direction: column;
		/* height: auto; */
	}
	nav > a {
		font-size: 12px;
		padding-bottom: 2vh;
	}
	nav {
		height: 8vh;
	}
	.button-holder > div {
		/* font-size: 24px; */
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
		margin-top: 3vh;
	}
	.button-holder {
		flex-direction: column;

	}
	h2 {
		font-size: 32px;
	}
	.info > h3 {
		margin-top: 4vh;
		font-size: 24px;
	}
	.dev-container {
		height: auto;
	}
	.featured > img {
		margin-left: 0;
		width: 100%;
	}
	.featured > div, .project > div {
		margin-left: 0vw;
	}
	.hidden {
		display: none;
	}
	.image-holder > img {
		width: 100%;
		margin-left: 0;
		max-width: unset;
	}
	.image-holder {
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.btn-outline-dark {
		margin-top: 1vh;
	}
	#myCanvas {
		margin-bottom: 1.08rem;
	}
}

/* skills page  */

/* skills page */

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container2 {
	display: flex;
	margin-top: 8vh;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.container2 > h1 {
	text-align: left;
	margin-top: 3vh;
}

.skills-holder {
	display: flex;
	height: 45vh;
}

@media (max-width: 800px) {
	.skills-holder {
		flex-direction: column;
		height: auto;
	}
	.blog-skills {
		margin-top: 3vh;
		width: unset !important;
	}
	.dev-skills {
		width: 100% !important;
	}
	.links {
		text-align: left !important;
		/* margin-top: 3vh; */
		margin-bottom: 3vh;
	}
	.links > ul {
		flex-direction: column;
		height: 20vh;
		flex-wrap: wrap;
	}
	nav {
		width: 100vw;
	}
}

#agile, #action {
	margin-top: 2vh;
}

.dev-skills {
	height: auto;
	width: 55%;
	/* display: flex; */
}

.blog-skills {
	width: 47%
}

.dev-skills > ul, .blog-skills > ul {
	display: flex;
	flex-wrap: wrap;
}

.skill-list > li {
	width: 50%;
}

.links {
	text-align: center;
}

.links > ul {
	display: flex;
	justify-content: space-around;
	padding-top: 3vh;
}

.link-list > li > a {
    margin-right: 0;
}

@media (max-width: 800px) {
	.link-list {
		height: auto;
		width: 100%;
		display: block !important;
	}
	.link-list > li {
		display: inline;
	}
}